// === variables ===
$margin-sufety: 20px;
// === / variables ===
// === imports ===
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
// === / imports ===
// === global ===
body {
    font-family: "Titillium Web" sans-serif;
    margin: 0;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

.container {
    max-width: 1100px;
    padding-left: $margin-sufety;
    padding-right: $margin-sufety;
}

.button {
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
    box-shadow: 0 3px rgba(0, 0, 0, .15);
    width: clamp(173px, 20vw, 293px);
    padding: 22px 0;
    
    &:hover {
        box-shadow: 0 -3px rgba(0, 0, 0, .15);
    }
}

.title {
    font-size: clamp(22px, 3vw, 40px);
    margin-bottom: 20px;

    &-second {
        font-size: clamp(18px, 2vw, 24px);
    }

    &::after {
        content: "";
        display: block;
        width: 87px;
        height: 4px;
    }
}

.subtitle {
    font-size: clamp(14px, 1vw, 18px);
    max-width: 577px;

    &-second {
        font-size: clamp(14px, 1vw, 16px);
        max-width: 190px;
    }
}
// === / global ===
// === header ===
.header {
    background: #87509C;

    .container {
        padding-top: 57px;
        padding-bottom: 145px;
    }

    &__nav {
        margin-bottom: 133px;

        @media (max-width: 606px) {
            flex-direction: column;
            align-items: center;
        }

        &-list {
            margin-top: 20px;

            li {
                cursor: pointer;
                padding: 4px 18px;
                border-radius: 5px;
                transition: .5s;

                &:hover {
                    background: #643A79;
                }
            }
        }
    }

    &__content {
        max-width: 910px;
    }

    &__button {
        background: #EB7D4B;
    }
}

h1 {
    font-size: clamp(30px, 3vw, 42px);
    margin-bottom: 25px;
}
// === / header ===
// === services ===
.services {
    padding: 106px 0 122px;
    background: #17C2A4;

    &__text {
        margin-bottom: 70px;
    }

    &__title {
        &::after {
            background: rgba(0, 0, 0, .15);
        }
    }

    &__card {
        height: 310px;

        @media (max-width: 816px) {
            &:not(:last-child) {
                margin-bottom: $margin-sufety;
            }
        }

        &-text{
            .title-second {
                margin-bottom: 12px;
            }
        }
    }
}
// === / services ===
// === team ===
.team {
    padding-top: 105px;
    padding-bottom: 125px;
    background: #E7F1F8;
    color: #3C4761;

    &__text {
        margin-bottom: 75px;
    }

    &__content {
        @media (max-width: 866px) {
            justify-content: space-evenly;
        }

        &-item {
            height: 490px;

            @media (max-width: 866px) {
                &:not(:last-child) {
                    margin-bottom: $margin-sufety;
                }
            }    

            &-text {
                &-proffesion {
                    color: #30BAE7;
                    margin-bottom: 10px;
                }
            }

            &-socials {
                a:not(:last-child) {
                    margin-right: 12px;
                }
            }
        }
    }

    .title {
        &::after {
            background-color: rgba(189, 209, 223, .75);
        }
    }
}
// === / team ===
// === skills ===
.skills {
    padding: 105px 0 110px;
    color: #3C4761;

    &__text {
        margin-bottom: 80px;
    }

    &__content {
        @media (max-width: 705px) {
            justify-content: space-evenly;
        }

        &-item {
            @media (max-width: 696px) {
                &:not(:last-child) {
                    margin-bottom: $margin-sufety;
                }
            }

            img {
                width: 160px;
                height: 160px;
                margin-bottom: 25px;
            }
        }
    }
}
// === / skills ===